include CREDITS ChangeLog LICENSE README.rst
include requirements*.txt

graft demo
graft src/cliform
graft docs
graft tests

prune work
global-exclude *.py[cod] __pycache__ .*.swp

include manage_dev.py Makefile tox.ini .flake8
